<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      div.red {color:red;}
      div.green {color: green;}
      input.green {border-color: green;}
      input.red {border-color: red;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="EatController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
         <p>NOT consider and empty item, i.e., , , as an item towards to the count.</p>
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control {{style}}" ng-model="food">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfToMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message {{style}}" >
            {{message}}
         </div>
   </div>
</body>
</html>
